<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuLong"
        android:usesCleartextTraffic="true">

        <!--  ⭐ API KEY ĐÚNG VỊ TRÍ ⭐ -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY_HERE" />

        <activity android:name=".CardActivity" android:exported="false" />
        <activity android:name=".AdminMenuDropActivity" android:exported="false" />
        <activity android:name=".AdminProductActivity" android:exported="false" />
        <activity android:name=".UseryonexActivity" android:exported="false" />
        <activity android:name=".YonexActivity" android:exported="false" />
        <activity android:name=".HomeActivity" android:exported="false" />
        <activity android:name=".CategoryActivity" android:exported="false" />
        <activity android:name=".CheckoutActivity" android:exported="false" />
        <activity android:name=".UserProfileActivity" android:exported="false" />
        <activity android:name=".ResetPasswordActivity" android:exported="false" />
        <activity android:name=".VerifyOtpActivity" android:exported="false" />
        <activity android:name=".ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".AddressListActivity" android:exported="false" />
        <activity android:name=".EditAddressActivity" android:exported="false" />
        <activity android:name=".ProductDetailActivity" android:exported="false" />

        <activity
            android:name=".TrackOrderActivity"
            android:exported="false" />


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
